@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Black.ttf");
  font-weight: 900;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.body {
  background-color: #1e252b;
  font-family: 'Poppins';
  font-weight: 500;
}

.container {
  max-width: 1254px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */
.header__nav {
  margin-top: 26px;
}

.nav {
  color: rgba(255, 255, 255, 0.55);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 50px;
}

.nav__link {
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  transition: all .3s ease-in-out;
}

.nav__link:hover {
  color: #fff;
}

.nav__auth {
  display: flex;
  gap: 40px;
}

.nav__auth-btn {
  color: rgba(255, 255, 255, 0.78);
  border: none;
  background-color: transparent;
  text-transform: capitalize;
  font-family: "Poppins";
}

.login:hover {
  color: #fff;
}

.sign-up {
  color: #fdf5ff;
  font-weight: 600;
  background-color: #ff6e30;
  border-radius: 8px;
  padding: 12px 28px;
}

.sign-up:hover {
  background-color: #fa8b5b;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  background-image: url(../images/header-dropDown.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 9px;
  height: 5px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -6px;
  left: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd
}

.show {
  display: block;
}

.hero {
  min-height: calc(100vh - 75px);
  background-image: url(../images/hero-section/illustration.svg);
  background-position: right 0% bottom 40%;
  background-size: 40%;
  background-repeat: no-repeat;
  margin-bottom: 200px;
}

.hero__inner {
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
}

.hero__title {
  max-width: 600px;
  margin-top: 104px;
}

.hero__text {
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
  max-width: 487px;
  margin-bottom: 60px;
}

.search-container {
  margin-bottom: 80px;
}

.seach-bar {
  max-width: 498px;
  background: #283036;
  border-radius: 15px;
  display: flex;
}

.search-img {
  margin-left: 18px;
}

.search-input {
  margin-left: 13px;
  background-color: transparent;
  border: transparent;
  color: #fff;
  font-size: 14px;
  line-height: 21px;
}

.search-button {
  margin: 8px 11px 8px auto;
  padding: 12px 36px;
  background: #ff6e30;
  border-radius: 8px;
  border-color: transparent;
  color: #fdf5ff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.socials__list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.popular {
  margin-bottom: 200px;
}

.popular__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popular__content {
  margin-bottom: 90px;
}

.popular__title {
  text-align: center;
  font-size: 48px;
  line-height: 62px;
  margin-bottom: 25px;
}

.popular__text {
  color: rgba(255, 255, 255, 0.55);
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  max-width: 427px;
  margin: 0 auto
}

.popular__grid-box {
  margin-bottom: 100px;
}

.grid-box__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 120px;
}

.grid-box__item {
  max-width: 392px;
  padding: 33px;
  transition: all .4s ease-in-out;
}

.grid-box__top {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.grid-box__icon-name {
  color: rgba(255, 255, 255, 0.78);
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
}

.grid-box__top-text span {
  color: rgba(255, 165, 55, 0.55);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-transform: capitalize;
}

.grid-box__text {
  color: rgba(255, 255, 255, 0.78);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}

.grid-box__bottom {
  display: flex;
  align-items: center;
  gap: 12px;
}

.heart {
  padding: 8px;
  background: #283036;
  box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
  border-radius: 8px;
}

.heart svg {
  fill: #fd3b41;
}

.grid-box__bottom-link {
  margin-left: auto;
  padding: 9px 35px;
  color: rgba(255, 255, 255, 0.55);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
}

.active {
  margin-top: -20px;
  margin-bottom: 20px;
  background: rgba(40, 48, 54, 0.6);
  backdrop-filter: blur(50px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 15px;
}

.active a {
  color: #fff;
  background-color: #ff6e30;
  border-radius: 8px;
  padding: 9px 35px;
  transition: all .4s ease-in-out;
}

.popular__button {
  display: block;
  margin: 0 auto;
  padding: 17px 38px;
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 8px;
  background-color: transparent;
  font-size: 20px;
  line-height: 30px;
  color: #ff6e30;
}

.brand {
  margin-bottom: 200px;
}

.brand__inner {
  background: rgba(44, 53, 61, 0.2);
  backdrop-filter: blur(50px);
  border-radius: 25px;
  padding: 55px 82px;
}

.brand__title {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 55px;
}

.brand__list {
  display: flex;
  justify-content: space-between;
}